

.chat-box {
  background: #f4f4f4;
  border-radius: 5px;
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 15px;
}

.chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-message h1 {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 16px;
}

.chat-message p {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 20px;
}

.chat-input {
  flex: 0.2;
}

.chat-text {
  width: 100%!important;
}