body {
  height: 100vh;
  padding: 0;
  margin: 0;
}
#root {
  background: #E5E9F0;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat-box {
  background: #fff;
  padding: 5px 15px;
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  box-shadow: 0 0 14px #00000030;
}

.chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: scroll;
}

.chat-message {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.chat-message img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: 0 0 14px #0000007c;
}

.chat-message h1 {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 16px;
}

.chat-message p {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 20px;
}

.chat-input {
  flex: 0.15;
}

.chat-text {
  width: 100%!important;
}